body {
    background-image: url("../images/wood-panel.jpg");
}

.container {
    text-align: center;
    margin-top: 4rem;
}

.photos {
    position: relative;
    z-index: 1;
}

.pupper {
    position: absolute;
    z-index: 3;
}