body {
    background-image: url("../images/wood-panel.jpg");
}

.container {
    text-align: center;
    margin-top: 4rem;
}

.photos {
    position: relative;
}

.frame {
    position: absolute;
    z-index: 1;
    left: -50px;
}

.pupper-div {
    position: absolute;
    z-index: 2;
    left: 35px;
    top: 60px;
}